body{
    font-family: Arial sans-serif;
}


main{
    width: 100%;
    height: 100%;
}
nav{
    width: 100%;
    height: 60px;
    background-color: #344051;
    position: fixed;
     z-index: 100;
}

a,a:active{
    text-decoration: none;
}
.logo{
    color: #fff;
    line-height: 60px;
    font-size: 20px;
/*    margin-left: 390px;*/
    float: left;
}
.logo a{
    color: #fff;
}

.menu{
    float: left;
/*    padding-left: 430px;*/
}

.menu li{
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    float: left;
    margin-left: 20px;
    text-transform: uppercase;
       display: none;

}

.main{
   height: 100%;
    width: 100%;
   background: url("../img/bg.png") center/cover no-repeat;
}

.main2{
   height: 100%;
    width: 100%;
    
}

.title__container{
    float: left;
/*    margin: 23% 0 0 30%;*/
    text-align: center;
    width: 100%;
}

.title__container h1{
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    color: #2c384a; 

    
}
.title__container h4{
    font-size: 24px;
    color: #79818d;
    margin-top: 40px;
}

.button__main{
    
    padding: 0 16px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color:  #6d7682;
}

.title__container .button__main{
    margin: 50px 15px 0px 15px;
    height: 40px;
}

/*about*/

.about{
    padding: 105px 0 50px 0;
    width: 100%;
  display: block;
}

.title__part{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

.title__line{
    margin: 0 auto;
    width: 70px;
    height: 25px;
    border-bottom: 5px solid #d17700 ;
}

.container__about {
    text-align: center;
    display: block;
    align-content: center;
    margin:0 auto;
    padding: 65px 0 30px 0;
    width:100%;
}

.container__about img{
    margin-bottom: 27px;
}

.container__about p{
    text-align: justify;
    margin-bottom: 42px;
    color: #737984;
    font-weight: bold;
}

.container__about .button__main{
    background: url(../img/download.png) 14px 50% no-repeat;
    padding-left: 42px;
    height: 35px;
}

/*skills*/

.skills{
    background: url(../img/bg2.png) center/cover no-repeat ;
    padding: 112px 0 95px 0;
}

.skills .title__line{
    margin-bottom: 108px;
}
.container__skills{
   text-align: center;
    
}

.skills__item{
    display: inline-block;
     width: 208px;
     text-align: center;
}

.skills__item h5{
    margin: 42px 0 16px 0;
    color: #cf7600;
    font-weight: bold;
}

.skills__item p{
    color: #525a69;
    font-weight: bold;

}

/*case*/

.case{
    padding: 108px 0 205px 0;
    text-align: center;
    width: 82%;
    max-width: 1200px;
    align-content: center;
    margin: 0 auto;
}

.case .title__line{
    margin-bottom: 36px;
}

/*
.slide__case{
    margin: 42px 0 47px 0;
    background: url(../img/foto.png) center/cover no-repeat;
    width: 100%;
    height: 30%;
    display: block;
}
*/

.slide__case_img{
    width: 100%;
    margin-bottom: 50px;
}

.container_case_client{
    text-align: justify;
/*    margin:0 82px 0 0;*/
    width: 25%;
    float: left
}

.container_case_desc{
    text-align: justify;
    float: left;
    width: 75%;
}

.container_case{
    display: inline-block;
    width: auto;
}

.container_case_client h4{
    text-transform: uppercase;
    font-weight: bold;
    color: #384354;
    margin-bottom: 20px;
}

.container_case_client p{
    margin: 15px 0 ;
}

.button__visit{
    width: 70%;
    max-width: 204px;
    min-width: 150px;
    height: 44px;
    background: #63b5ae;
    color: #fff;
    border: 2px solid #63b5ae;
    border-radius: 5px;

}

.container_case_desc h4{
    font-weight: bold;
    color: #384354;
}

.container_case_client p, .container_case_desc p{
    color: #3f495a;
}

/*price*/

.price{
     padding: 0 0 154px 0;
}

.form__price{
    margin: 0 auto;
    width: 100;
}

.price .title__part{
    text-transform: none;
    font-size: 26px;
    margin-bottom: 60px;
}

.form__price label{
    font-size: 18px;
    font-weight:bold;
    text-transform: uppercase;
    margin-bottom: 24px;
}

 .form__price select{
    width: 100%;
    height: 60px;
    margin-bottom: 48px;
    padding-left: 25px;
    appearance: none;
    background: url(../img/arrow.png) no-repeat calc(100% - 30px)/auto 15% #eeeeee;
}

.result{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 0 0 0;
}

.times{
    border-top: 3px solid #d1d1d1;
    padding-top: 12 px;
}

.result{
    font-weight: bold;
}

.result__time, .result__cost{
      font-size: 20px;

}

.price .button__visit{
    margin: 10% auto;
}

/*statistic*/

.statistic{
/*    height: 500px;*/
    height: auto;
    width: 100%;
    background: url(../img/bg3.png) no-repeat;
    padding: 105px 0 0 0;
    text-align: center;
    margin: 0 0 100px 0;
}

/*
.statistic .title__line{
    margin-bottom: 92px;
}
*/

.container__statistic{
    display: inline-block;
    margin: 92px 80px 106px 80px;
}

.container__statistic h3{
    margin: 40px 0 30px 0;
    font-weight: bold;
    font-size: 28px;
    color: #323e4f;
}

.container__statistic p{
    color: #323e4f;
    font-size: 16px;
    font-weight: bold;
}

/*feedback*/

.feedback{
    width: 100%;
    height: auto;
    margin-bottom: 90px;
    text-align: center;
}

.feedback img{
    margin: 60px 0 0px 0;
}

.feedback p{
    width: auto;
    margin: 30px auto;
}

/*c96500*/
.feedback input{
    appearance: none;
    border: 1px solid #dddddd;
    border-radius: 25px;
    vertical-align: top;
    width: 10px;
    height: 10px;
    margin: 0 3px 0 0;
}

.feedback input:checked{
    background-color:#c96500;
}

/*contacts*/

.contacts{
    width: 100%;
    height: auto;
/*    margin-bottom: 90px;*/
    text-align: center;
    color: #fff;
}

.container__contacts{
    background: url(../img/bg4.png) center/cover no-repeat;
    padding: 104px 0 70px 0;
    width: 100%;
    height: auto;
}

.container_in{
    width: auto;
    margin: 0 auto;
}

.contacts_p{
    margin: 33px 0 46px 0;
    
}

.item__contacts{
    display: inline-block;
    margin: 0px 50px;
}

.item__contacts img{
    margin-bottom: 16px;
}

.contacts_feedback{
    margin: 40px 0;
}
.form_feedback{
    max-width: 500px;
margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.form_feedback h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.input_feedback{
    width: calc(50% - 30px);
    height: 36px;
    margin: 46px 15px 15px 15px;
    float: left;
}

.textarea_feedback{
    height: 96px;
    width: calc(100% - 30px);
}

.input_feedback,.textarea_feedback{
    padding: 15px;
    background: #d2d6dc;
}

.button__feedback{
    margin: 28px 0;
    width: 130px;
    height: 48px;
    background: none;
    border:3px solid #f9faff ;
    border-radius: 5px;
    color: #f9faff;
}

.copyright{
    color: #a7aab0;
    background: #354051;
    height: 90px;
    text-align: center;
}

.copyright p{
    padding: 45px 0 0 0;
}

.contacts_feedback img{
    margin: 0 28px;

}





@media (max-width:1199px){
    .case{
        font-size: 18px;
    }
}



@media (max-width:991px){
    .title__container h1, 
    .title__container h4, 
    .title__container .button__main{
        color: white;
        position: relative;
        z-index: 3;
    }
    
    .main2{
        position: relative;
    }
    
    .main2::after{
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.4);
    }
    
    .title__container .button__main{
        border-color: #fff;
    }
    
    .container__about{
        font-size: 16px;
    }
    
    .container__skills h5{
       font-size: 19px;
    }
    
    .container__skills{
        font-size: 16px;
    }
    
    .skills__item{
        margin-bottom: 4%;
    }
    
   
}

@media (max-width:767px){
     .container_case {
        display: flex;
        flex-direction: column;
    }
    
    .container_case>.container_case_client{
        order: 2;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 5%;
/*
        width: 30%;
        margin-right: 3%;
*/
    }
    .container_case>.container_case_desc{
/*         width: 68%;*/
        order: 1;
        width: 100%;
    }
    
}
@media (max-width:575px){
    .container__about{
        padding: 65px 15px 27px 10px;
    }
}














